.hero-area + section{
    padding-top: 0px;
}
.product{
    border: 1.7px solid #e6af5d;
}
.product__thumbnail{
    border-bottom: 1.7px solid #e6af5d;
}
.product-purchase{
    border-top: 1.7px solid #e6af5d;
}
.overview-title{
    margin-bottom: 13px;
}
.top-menu-area
{
    background: #1f1d1c;
}
.author__notification_area ul li span.lnr
{
    color: #ffffff;
}
.author__notification_area {
    color: #ffffff;
}
.mainmenu__menu .navbar-nav > li > a {
    color: #1f1d1c;
}
.mainmenu__menu .navbar-nav > li > a:hover, .mainmenu__menu .navbar-nav > li:hover > a {
    color: #e6af5d;
}
.go_top, .searc-wrap .search-wrap__btn{
    background: #e6af5d;
}
.hero-area::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background: none;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  .contact_information, .author__notification_area ul li span.lnr{
    color: #ffffff;
  }
  .contact_information:hover{
    color: #ffffff;
  }
  .author__notification_area ul li{
    padding: 4px;
  }
    .hero_img{
    background-color: #e6af5d;
    padding: 25px 75px;
}
.search-btn{
    background: #30373f;
}
.search_box .search-btn:hover,.btn {
    background: #e6af5d;
  }
  /* .feature:hover {
    background: #ffffff;
  } */

 .flaticon{
    color: #e6af5d;
    font-size: 72px;
 }
 .testimonial-slider .slick-arrow
{
    background: #e6af5d;
    color: #ffffff;
}
.testimonial {
    padding: 50px 40px;
    border: 2px solid #e6af5d;
    -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0);
            box-shadow: 0 2px 50px rgba(0, 0, 0, 0);
  }
   .product-title-area .product__slider-nav,
   .shortcode_module_title .product__slider-nav,
   .dashboard_contents .dashboard_title_area .product__slider-nav{
    background: #e6af5d;
  }
  .featured-products .product-title-area span.lnr:active,
   .featured-products .shortcode_module_title span.lnr:active,
    .featured-products .dashboard_contents .dashboard_title_area span.lnr:active,
     .dashboard_contents .featured-products .dashboard_title_area span.lnr:active {
    background: #30373f;
  }
  .mini-footer {
    background: #192027;
    text-align: center;
    padding: 10px 0;
}
.footer-big p, .footer-big ul li, .footer-big .footer-menu ul li a
{
    color: #ffffff;
}
.footer-big{
    background: #262b30;
}

/* .social ul li a span, .single_blog_content .share_tags .share .social_share ul li a span
{
    background: #e6af5d;
} */
.social--color--filled span.fa-facebook{
    background: #e6af5d;
}
.social--color--filled span.fa-whatsapp{
    background: #e6af5d;
}
.social--color--filled span.fa-instagram{
    background: #e6af5d;
}
.social--color--filled span.fa-linkedin
{
    background: #e6af5d;
}
.mini-footer p a:hover{
    color: #e6af5d;
}
.search-area2:before, .breadcrumb-area:before
{
  background: #1f1d1c;
}
.content_block1 .content_area .content_area--title .highlight, .content_block2 .content_area .content_area--title .highlight, .content_block2 .content_area2 .content_area--title .highlight, .content_block2 .content_area2 .content_area2--title .highlight{
    color: #e6af5d;
}
.section-title h1 .highlighted{
    color: #e6af5d;
}
.timeline .happening:hover .happening--period:before {
    background: #e6af5d;
    border-color: #fff;
  }

  .timeline .happening:hover .happening--period p {
    color: #e6af5d;
  }
  .timeline:before, .timeline:after {
    background: #30373f;

  }
  .single_team_member figure .social
{
    background: #30373f;
}
.single_team_member figure .social ul li a span.fa-instagram{
   color: #bc2a8d;
}
.single_team_member figure .social ul li a span.fa-whatsapp{
color: #0ea429;
}
.single_team_member figure .social ul li a:hover span.fa-instagram {
    background: #bc2a8d;
    color: #ffffff;
  }
  .single_team_member figure .social ul li a:hover span.fa-whatsapp {
    background: #0ea429;
    color: #ffffff;
  }
  .contact_tile .tiles__icon
{
    color: #e6af5d;
}
.contact_form .contact_form__title
{
    border-bottom: 1px solid #e6af5d;
}
.contact_form input,.contact_form textarea
{
    border: 1px solid #e6af5d;
}
.author-author__info {
    padding: 12px 0;
}
.feature__img
{
    border-radius: 50%;
    border: 3px solid #be852f;
}
.login .login--header, .signup_form .login--header{
    border-bottom: 1px solid #e6af5d;
}
.text_field{
    background: #ffffff;
}
.login .login--form input,.signup_form .login--form input{
    border: 1px solid #e6af5d;
}
.custom_checkbox label .shadow_checkbox:before
{
    background: #e6af5d;
}
.login_assist p a
{
    color: #e6af5d;
}
.mainmenu__menu .navbar-nav > li > a{
    line-height: 50px;
}
.dropdowns.dropdown--menu{
    padding: 6px;
}
.has_dropdown:hover .dropdowns{
    top: 75%;
}
.dropdown_lang{
    min-width: 120px;
    border-top: 1px solid #e6af5d;
}
.dropdowns.dropdown--menu ul li a:hover {
    background: #e6af5d;
    color: #30373f;
  }
  .navbar-nav li.has_dropdown:hover{
    cursor: pointer;
  }
  .dropdown_user{
    min-width: 180px;
    border-top: 1px solid #e6af5d;
}
.marble_type {
    border-radius: 50%;
    border: 3px solid #e6af5d;
    max-width: 50%;
}
.option_title{
    color: #e6af5d;
}
.option_paragraph{
    color: #ffffff;
    font-size: 13px;
}
.section--footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature__img
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product .product__thumbnail:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#e6af5d), to(#aa9278));
    background-image: -webkit-linear-gradient(right, #e6af5d 0%, #aa9278 100%);
    background-image: -o-linear-gradient(right, #e6af5d 0%, #aa9278 100%);
    background-image: linear-gradient(to left, #e6af5d 0%, #aa9278 100%);
    /* Fallback (could use .jpg/.png alternatively) */
    background-color: #e6af5d;
    /* SVG fallback for IE 9 (could be data URI, or could use filter) */
    background: #aa9278;
    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image: -webkit-gradient(linear, left top, right top, from(#e6af5d), to(#aa9278));
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(left, #e6af5d, #aa9278);
    /* Firefox 3.6 - 15 */
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(left, #e6af5d, #aa9278);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(to right, #e6af5d, #aa9278);
    left: 0;
}
.product .prod_btn a:hover{
    color: #30373f;
}
.product-purchase .price_love > span{
    background: rgb(230 175 93);
    color: rgb(255, 255, 255);
}
.product-desc .product_title h4:hover{
    color: #e6af5d;

}
.product-desc ul.titlebtm > li a:hover{
    color: #30373f;
}
  .text_field {
    background: #f5f4f3;
}
.gallery_image {
    margin-bottom: 30px;
}
.pagination-area .prev.page-numbers:hover, .pagination-area .next.page-numbers:hover {
    color: #fff;
    background: #30373f8f;
  }
.pagination-area .page-numbers.current, .pagination-area .page-numbers:hover
{
    background: #e6af5d;
}
.item-preview .item-action a:hover,.item-preview .prev-nav span:hover
{
    background: #30373f8f;
}
.item-preview .prev-nav span{
    background: #e6af5d;
}
.sidebar--single-product .card--product-infos ul.infos li p.data-label, .sidebar--single-product .card--product-infos ul.infos li p.info{
    width: 50%;
}
.author-card .author-infos .author-btn .btn:hover {
    background: #30373f8f;
    color: #fff;
  }
.text_field {
    border: 1px solid #e6af5d;
}
.product .product__thumbnail1 {
    position: relative;
}

.product .product__thumbnail1 img {
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    width: 100%;
}

.dashboard-edit .product .prod_option .setting-icon {
    font-size: 20px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: #1f1d1c;
    border-radius: 200px;
    cursor: pointer;
}

